<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function fn_mod(){
	document.frm.submit();
}
</script>
</head>
<body>
<form action="emp_mod_act" name="frm" method="post">
	사번 : <input type="text" name="e_id" value="{{vo.e_id}}"  ><br>
	이름 : <input type="text" name="e_name" value="{{vo.e_name}}"><br>
	성별 : <input type="text" name="sex" value="{{vo.sex}}"><br>
	주소 : <input type="text" name="addr" value="{{vo.addr}}"><br>
	<input type="button" value="실행" onclick="fn_mod()" >
</form>
</body>
</html>